In [6]:
import pandas as pd
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv("iris.csv", names=names) #读取csv数据
print(dataset.describe())
data=dataset[names[:-1]]
data

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

     sepal-length  sepal-width  petal-length  petal-width
0             5.9          3.0           4.2          1.5
1             6.9          3.1           4.9          1.5
2             6.6          2.9           4.6          1.3
3             4.6          3.2           1.4          0.2
4             6.0          2.2           4.0          1.0
..            ...          ...           ...          ...
145           5.4          3.4           1.7          0.2
146           5.5          2.6           4.4          1.2
147           6.7          3.0           5.2          2.3
148           7.7          3.8           6.7          2.2
149           5.1          3.4           1.5          0.2

[150 rows x 4 columns]

In [7]:
import numpy as np
import pandas as pd

def autoNorm(dataSet):
    norm_data=(dataSet-dataSet.min(axis=0))/(dataSet.max(axis=0)-dataSet.min(axis=0))
    return norm_data

print(autoNorm(data))

     sepal-length  sepal-width  petal-length  petal-width
0        0.444444     0.416667      0.542373     0.583333
1        0.722222     0.458333      0.661017     0.583333
2        0.638889     0.375000      0.610169     0.500000
3        0.083333     0.500000      0.067797     0.041667
4        0.472222     0.083333      0.508475     0.375000
..            ...          ...           ...          ...
145      0.305556     0.583333      0.118644     0.041667
146      0.333333     0.250000      0.576271     0.458333
147      0.666667     0.416667      0.711864     0.916667
148      0.944444     0.750000      0.966102     0.875000
149      0.222222     0.583333      0.084746     0.041667

[150 rows x 4 columns]

In [9]:
def autoNorm(dataSet):
    norm_data=(dataSet-dataSet.mean(axis=0))/dataSet.std(axis=0)
    return norm_data

print(autoNorm(data))

     sepal-length  sepal-width  petal-length  petal-width
0        0.068433    -0.124540      0.250129     0.394849
1        1.276066     0.106090      0.646860     0.394849
2        0.913776    -0.355171      0.476833     0.132781
3       -1.501490     0.336720     -1.336794    -1.308593
4        0.189196    -1.969583      0.136778    -0.260321
..            ...          ...           ...          ...
145     -0.535384     0.797981     -1.166767    -1.308593
146     -0.414621    -1.047062      0.363481     0.001747
147      1.034539    -0.124540      0.816888     1.443121
148      2.242172     1.720502      1.667025     1.312087
149     -0.897674     0.797981     -1.280118    -1.308593

[150 rows x 4 columns]